{% extends 'formLayout.html' %} {% block body %}
<section
  class="font-poppins bg-lightBg flex justify-center items-center sm:py-[60px]"
>
  <form
    method="POST"
    action="/predict"
    class="font-medium lg:p-[50px] sm:px-[34px] px-[30px] pt-[50px] leading-[12px] lg:gap-[30px] gap-[20px] flex flex-col lg:w-[700px] sm:w-[668px] w-[100%] bg-white rounded-[10px] shadow-3xl pb-[50px]"
    id="form"
  >
    <h2 class="text-[#4B2D00] font-bold text-[32px] mb-[30px]">Try Our Ai</h2>

    <div class="flex flex-col gap-[15px]">
      <label for="temperateur" class="lg:text-[20px] text-[18px]"
        >Temperateur</label
      >
      <input
        type="text"
        id="temperateur"
        name="temperateur"
        class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
        placeholder="Temperateur Value"
      />
    </div>

    <div
      class="flex justify-between flex-col lg:gap-[30px] gap-[20px] lg:flex-row"
    >
      <div class="flex flex-col gap-[15px] lg:w-[433px]">
        <label for="humidity" class="lg:text-[20px] text-[18px]"
          >Humidity</label
        >
        <input
          type="text"
          id="humidity"
          name="humidity"
          class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
          placeholder="Phosphore Value"
        />
      </div>

      <div class="flex flex-col gap-[15px] lg:w-[433px]">
        <label for="moisture" class="lg:text-[20px] text-[18px]"
          >Moisture</label
        >
        <input
          type="text"
          id="moisture"
          name="moisture"
          class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
          placeholder="Potassium Value"
        />
      </div>
    </div>
    <div class="flex flex-col gap-[15px]">
      <label for="netrogen" class="lg:text-[20px] text-[18px]">Netrogen</label>
      <input
        type="text"
        id="netrogen"
        name="netrogen"
        class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
        placeholder="Adam"
      />
    </div>

    <div
      class="flex justify-between flex-col lg:gap-[30px] gap-[20px] lg:flex-row"
    >
      <div class="flex flex-col gap-[15px] lg:w-[433px]">
        <label for="phosphore" class="lg:text-[20px] text-[18px]"
          >Phosphore</label
        >
        <input
          type="text"
          id="phosphore"
          name="phosphore"
          class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
          placeholder="Phosphore Value"
        />
      </div>

      <div class="flex flex-col gap-[15px] lg:w-[433px]">
        <label for="potassium" class="lg:text-[20px] text-[18px]"
          >Potassium</label
        >
        <input
          type="text"
          id="potassium"
          name="potassium"
          class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
          placeholder="Potassium Value"
        />
      </div>
    </div>
    <div class="flex sm:gap-[15px] gap-[10px] self-end">
      <a
        href="{{ url_for('index')}}"
        class="bg-secondary font-semibold text-[16px] sm:text-[20px] rounded-[5px] text-white sm:py-[20px] sm:px-[35px] px-[25px] py-[18px]"
      >
        Back
      </a>
      <button
        class="bg-main font-semibold text-[16px] sm:text-[20px] rounded-[5px] text-white sm:py-[20px] sm:px-[35px] px-[25px] py-[18px]"
        id="submitBtn"
        type="submit"
      >
        Try
      </button>
    </div>
  </form>
</section>
<script>
  const form = document.querySelector("#form");
  const submitBtn = document.querySelector("#submitBtn");
  const temperateur = document.querySelector("#temperateur");
  const humidity = document.querySelector("#humidity");
  const moisture = document.querySelector("#moisture");
  const netrogen = document.querySelector("#netrogen");
  const phosphore = document.querySelector("#phosphore");
  const potassium = document.querySelector("#potassium");

  function errorFeedback(ele, message, original) {
    ele.classList.add("border", "border-red-500", "placeholder:text-red-500");
    ele.value = "";
    ele.placeholder = message;
    setTimeout(() => {
      ele.classList.remove(
        "border",
        "border-red-500",
        "placeholder:text-red-500"
      );
      ele.placeholder = original;
    }, 3000);
  }

  submitBtn.addEventListener("click", (e) => {
    e.preventDefault();
    let hasError = false;

    if (
      temperateur.value === "" ||
      isNaN(Number(temperateur.value)) ||
      temperateur.value >= 48 ||
      temperateur.value < 0
    ) {
      if (temperateur.value === "" || isNaN(Number(temperateur.value))) {
        errorFeedback(
          temperateur,
          "Numiric Value Obligatoty",
          "Temperature Value"
        );
      } else {
        errorFeedback(
          temperateur,
          "Wooow There Slow Down",
          "Temperature Value"
        );
      }
      hasError = true;
    }

    if (
      humidity.value === "" ||
      isNaN(Number(humidity.value)) ||
      humidity.value >= 92 ||
      humidity.value < 0
    ) {
      if (humidity.value === "" || isNaN(Number(humidity.value))) {
        errorFeedback(humidity, "Numiric Value Obligatoty", "Humidity Value");
      } else {
        errorFeedback(humidity, "Wooow There Slow Down", "Humidity Value");
      }
      hasError = true;
    }

    if (
      moisture.value === "" ||
      isNaN(Number(moisture.value)) ||
      moisture.value >= 85 ||
      moisture.value < 0
    ) {
      if (moisture.value === "" || isNaN(Number(moisture.value))) {
        errorFeedback(moisture, "Numiric Value Obligatoty", "Humidity Value");
      } else {
        errorFeedback(moisture, "Wooow There Slow Down", "Moisture Value");
      }
      hasError = true;
    }

    if (
      netrogen.value === "" ||
      isNaN(Number(netrogen.value)) ||
      netrogen.value >= 62 ||
      netrogen.value < 0
    ) {
      if (netrogen.value === "" || isNaN(Number(netrogen.value))) {
        errorFeedback(netrogen, "Numiric Value Obligatoty", "Humidity Value");
      } else {
        errorFeedback(netrogen, "Wooow There Slow Down", "Moisture Value");
      }
      hasError = true;
    }

    if (
      phosphore.value === "" ||
      isNaN(Number(phosphore.value)) ||
      phosphore.value >= 62 ||
      phosphore.value < 0
    ) {
      if (phosphore.value === "" || isNaN(Number(phosphore.value))) {
        errorFeedback(phosphore, "Numiric Value Obligatoty", "Humidity Value");
      } else {
        errorFeedback(phosphore, "Wooow There Slow Down", "Moisture Value");
      }
      hasError = true;
    }

    if (
      potassium.value === "" ||
      isNaN(Number(potassium.value)) ||
      potassium.value >= 39 ||
      potassium.value < 0
    ) {
      if (potassium.value === "" || isNaN(Number(potassium.value))) {
        errorFeedback(potassium, "Numiric Value Obligatoty", "Humidity Value");
      } else {
        errorFeedback(potassium, "Wooow There Slow Down", "Moisture Value");
      }
      hasError = true;
    }

    if (!hasError) {
      form.submit();
    }
  });
</script>

{% endblock %}
