{% extends 'layout.html' %} {% block body %} {% block content %}
<section class="noAnimation bg-darkGreen sm:py-[53px] py-[37px] text-center">
  <h2 class="font-bold lg:text-[38px] text-[26px] text-white">Dashboard</h2>
</section>

<section
  class="noAnimation pb-[28px] sm:pt-[50px] sm:pl-[50px] p-[30px] font-bold lg:text-[25px] text-[18px] text-brown lg:gap-[50px] sm:gap-[30px] flex justify-center sm:justify-start gap-[40px] border-b border-[#333333]"
>
  <a href="{{ url_for('profile') }}">Profile</a>
  <a
    class="border-b-[5px] border-[#0C3E00] px-[20px] pb-[10px]"
    href="{{ url_for('manageFertilizers') }}"
    >Manage</a
  >
</section>
<section
  class="font-bold sm:text-[20px] text-[14px] p-[31px] sm:px-[50px] flex sm:gap-[18px] gap-[13px] justify-center sm:justify-start"
>
  <a
    href="{{ url_for('manageFertilizers') }}"
    class="text-[#323232] sm:px-[38px] px-[30px] bg-[#D9D9D9] py-[7px] rounded-[22px]"
    >Fertiliser</a
  >

  <a
    href="{{ url_for('manageUsers') }}"
    class="text-white sm:px-[50px] px-[37px] bg-main py-[7px] rounded-[22px]"
    >Users</a
  >
</section>
<section
  class="flex flex-col px-[30px] sm:px-[50px] sm:gap-[30px] gap-[13px] pb-[30px]"
>
  {% for user in users %}
  <form
    action="{{url_for('deleteUsers')}}"
    method="post"
    class=" {{'hidden' if user.role == 1 else 'noAnimation w-full bg-[#F6F6F6] rounded-[8px] flex justify-between items-center py-[12px] sm:py-[22px] px-[21px] sm:px-[36px]' }}"
  >
    <div class="flex sm:gap-[24px] gap-[19px] items-center">
      <img
        src="{{ user.profile_path if user.profile_path else '/static/images/avatar.png' }}"
        alt="user"
        class="rounded-full sm:w-[76px] sm:h-[76px] h-[52px] w-[52px]"
      />
      <h3 class="font-bold sm:text-[24px] text-[16px] lg:w-[200px]">
        {{ user.username }}
      </h3>
      <p class="hidden lg:block text-[24px] text-[#777777]">{{ user.email }}</p>
    </div>
    <input type="hidden" name="user_id" value="{{ user.user_id }}" />
    <button
      type="submit"
      class="text-[24px] text-white font-bold px-[14px] py-[12px] bg-[#FD4141] hidden sm:block rounded-[13px]"
    >
      Delete
    </button>
    <button class="sm:hidden" type="submit">
      <img src="/static/images/icons/redTrash.png" alt="delete" />
    </button>
  </form>
  {% endfor %}
</section>
{% endblock %} {% endblock %}
