{% extends 'layout.html' %} {% block body %} {% block content %}
<section class="noAnimation bg-darkGreen sm:py-[53px] py-[37px] text-center">
  <h2 class="font-bold lg:text-[38px] text-[26px] text-white">Messages</h2>
</section>
<section
  class="flex flex-col px-[30px] sm:px-[50px] sm:gap-[30px] gap-[13px] py-[40px] sm:py-[60px]"
>
  <form
    action="{{url_for('deleteUsers')}}"
    method="post"
    class="noAnimation w-full bg-[#F6F6F6] rounded-[8px] flex justify-between items-center py-[12px] sm:py-[22px] px-[21px] sm:px-[36px]"
  >
    <div class="flex sm:gap-[24px] gap-[19px] items-center">
      <img
        src="/static/images/avatar.png"
        alt="user"
        class="rounded-full sm:w-[76px] sm:h-[76px] h-[52px] w-[52px]"
      />
      <h3 class="font-bold sm:text-[24px] text-[16px] lg:w-[200px]">
        Username
      </h3>
      <p class="hidden lg:block text-[24px] text-[#777777]">email</p>
    </div>

    <div class="flex sm:gap-[44px] gap-[14px] items-center">
      <img
        src="/static/images/icons/closedMessage.png"
        alt="letter"
        class="sm:w-[30px] sm:h-[30px] w-[16px] h-[16px]"
      />
      <button type="submit">
        <img
          src="/static/images/icons/trash.png"
          alt="trash"
          class="sm:w-[38px] sm:h-[38px] w-[22px] h-[22px]"
        />
      </button>
    </div>
  </form>
  <form
    action="{{url_for('deleteUsers')}}"
    method="post"
    class="noAnimation w-full bg-[#F6F6F6] rounded-[8px] flex justify-between items-center py-[12px] sm:py-[22px] px-[21px] sm:px-[36px]"
  >
    <div class="flex sm:gap-[24px] gap-[19px] items-center">
      <img
        src="/static/images/avatar.png"
        alt="user"
        class="rounded-full sm:w-[76px] sm:h-[76px] h-[52px] w-[52px]"
      />
      <h3 class="font-bold sm:text-[24px] text-[16px] lg:w-[200px]">
        Username
      </h3>
      <p class="hidden lg:block text-[24px] text-[#777777]">email</p>
    </div>

    <div class="flex sm:gap-[44px] gap-[14px] items-center">
      <img
        src="/static/images/icons/openedMessage.png"
        alt="letter"
        class="sm:w-[30px] sm:h-[30px] w-[16px] h-[16px]"
      />
      <button type="submit">
        <img
          src="/static/images/icons/trash.png"
          alt="trash"
          class="sm:w-[38px] sm:h-[38px] w-[22px] h-[22px]"
        />
      </button>
    </div>
  </form>
  <form
    action="{{url_for('deleteUsers')}}"
    method="post"
    class="noAnimation w-full bg-[#F6F6F6] rounded-[8px] flex justify-between items-center py-[12px] sm:py-[22px] px-[21px] sm:px-[36px]"
  >
    <div class="flex sm:gap-[24px] gap-[19px] items-center">
      <img
        src="/static/images/avatar.png"
        alt="user"
        class="rounded-full sm:w-[76px] sm:h-[76px] h-[52px] w-[52px]"
      />
      <h3 class="font-bold sm:text-[24px] text-[16px] lg:w-[200px]">
        Username
      </h3>
      <p class="hidden lg:block text-[24px] text-[#777777]">email</p>
    </div>

    <div class="flex sm:gap-[44px] gap-[14px] items-center">
      <img
        src="/static/images/icons/closedMessage.png"
        alt="letter"
        class="sm:w-[30px] sm:h-[30px] w-[16px] h-[16px]"
      />
      <button type="submit">
        <img
          src="/static/images/icons/trash.png"
          alt="trash"
          class="sm:w-[38px] sm:h-[38px] w-[22px] h-[22px]"
        />
      </button>
    </div>
  </form>
  <form
    action="{{url_for('deleteUsers')}}"
    method="post"
    class="noAnimation w-full bg-[#F6F6F6] rounded-[8px] flex justify-between items-center py-[12px] sm:py-[22px] px-[21px] sm:px-[36px]"
  >
    <div class="flex sm:gap-[24px] gap-[19px] items-center">
      <img
        src="/static/images/avatar.png"
        alt="user"
        class="rounded-full sm:w-[76px] sm:h-[76px] h-[52px] w-[52px]"
      />
      <h3 class="font-bold sm:text-[24px] text-[16px] lg:w-[200px]">
        Username
      </h3>
      <p class="hidden lg:block text-[24px] text-[#777777]">email</p>
    </div>

    <div class="flex sm:gap-[44px] gap-[14px] items-center">
      <img
        src="/static/images/icons/openedMessage.png"
        alt="letter"
        class="sm:w-[30px] sm:h-[30px] w-[16px] h-[16px]"
      />
      <button type="submit">
        <img
          src="/static/images/icons/trash.png"
          alt="trash"
          class="sm:w-[38px] sm:h-[38px] w-[22px] h-[22px]"
        />
      </button>
    </div>
  </form>
</section>
{% endblock %} {% endblock %}
