{% extends 'layout.html' %} {% block body %} {% block content %}
<section class="noAnimation bg-darkGreen sm:py-[53px] py-[37px] text-center">
  <h2 class="font-bold lg:text-[38px] text-[26px] text-white">Not Found</h2>
</section>
<section class="flex justify-center items-center sm:h-[100vh] py-[46px]">
  <div class="font-bold flex flex-col justify-center items-center">
    <img
      src="/static/images/404.png"
      alt="404"
      class="sm:h-[211px] sm:w-[329px]"
    />
    <span class="text-brown sm:text-[163px] text-[80px]">404</span>
    <p class="sm:text-[34px] text-[20px]">Page Not Found</p>
  </div>
</section>
{% endblock %} {% endblock %}
