{% extends 'formLayout.html' %} {% block body %} {% block content %}

<section
  class="bg-loginBg bg-cover bg-center sm:relative flex flex-col lg:w-[50%] sm:w-[572px] w-[100%] sm:p-[50px] p-[30px] sm:h-[100vh] flex flex-col justify-center lg:justify-center items-center sm:justify-start lg:pr-[229px] sm:gap-[40px] gap-[28px]"
>
  <a href="/">
    <img
      src="/static/images/icons/back.png"
      alt="back arrow"
      class="absolute top-[20px] left-[20px]"
  /></a>
  <div class="text-white text-center sm:text-start">
    <h2 class="font-bold lg:text-[62.759px] sm:text-[52px] text-[32px]">
      Join Us
    </h2>
    <p class="lg:text-[28px] sm:text-[24px] text-[16px] text-[#777]">
      Sign up for personalized fertilizer recommendations and expert advice
    </p>
  </div>
  <form
    method="post"
    action="{{ url_for('signup') }}"
    class="sm:absolute lg:w-[699px] sm:w-[668px] w-[315px] lg:-right-[75%] sm:translate-x-[150px] lg:translate-y-[50%] lg:translate-x-0 sm:right-0 sm:bottom-[40px] lg:bottom-[50%] bg-white sm:py-[30px] sm:px-[40px] py-[40px] pl-[26px] pr-[34px] rounded-[10px] shadow-4xl flex flex-col gap-[20px]"
    id="form"
  >
    <h3 class="text-[24px] sm:text-[40px] font-bold">Sign Up</h3>
    <div class="flex flex-col sm:gap-[10px] gap-[20px] font-medium">
      <div class="flex flex-col gap-[7px]">
        <label for="name" class="text-[18px]">Userame</label>
        <input
          type="text"
          id="name"
          name="name"
          class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
          placeholder="Adam"
        />
      </div>
      <div class="flex flex-col gap-[7px]">
        <label for="email" class="text-[18px]">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
          placeholder="{{ get_flashed_messages()[0] if get_flashed_messages() else 'Your Email' }}"
        />
      </div>
      <div class="flex flex-col gap-[7px]">
        <label for="password" class="text-[18px]">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
          placeholder="Your password"
        />
      </div>
      <div class="flex flex-col gap-[7px]">
        <label for="password" class="text-[18px]">Password</label>
        <input
          type="password"
          id="password2"
          class="bg-[#EFEEEE] rounded-[10px] py-[16px] pl-[12px] outline-none"
          placeholder="Your password"
        />
      </div>
    </div>
    <button
      type="submit"
      class="py-[10px] rounded-[10px] bg-main text-white text-[20px] font-semibold"
      id="submitBtn"
    >
      Sign Up
    </button>
    <p>
      You Have an account ?
      <a href="{{ url_for('login') }}" class="font-bold">Sing in</a>
    </p>
  </form>
</section>
<script>
  const form = document.querySelector("#form");
  const submitBtn = document.querySelector("#submitBtn");
  const name = document.querySelector("#name");
  const email = document.querySelector("#email");
  const password = document.querySelector("#password");
  const password2 = document.querySelector("#password2");
  const emailPattern = new RegExp(
    "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
  );

  function errorFeedback(ele, message, original) {
    ele.classList.add("border", "border-red-500", "placeholder:text-red-500");
    ele.placeholder = message;
    ele.value = "";
    setTimeout(() => {
      ele.classList.remove(
        "border",
        "border-red-500",
        "placeholder:text-red-500"
      );
      ele.placeholder = original;
    }, 3000);
  }

  if (email.placeholder === "This Email Alrady Exists") {
    errorFeedback(email, "This Email Alrady Exists", "Your Email");
  }

  submitBtn.addEventListener("click", (e) => {
    e.preventDefault();
    let form_error = false;

    if (password.value !== password2.value || password2.value === "") {
      errorFeedback(password2, "Passwords Don't Match", "Your Password");
      form_error = true;
    }

    if (
      name.value === "" ||
      !isNaN(Number(name.value)) ||
      name.value.length > 10
    ) {
      if (name.value.length > 10) {
        errorFeedback(
          name,
          "Username can't be Over 10 Characters ",
          "Enter Your Username"
        );
      } else {
        errorFeedback(name, "Please Enter A Valid Username", "Adam");
      }

      form_error = true;
    }

    if (
      email.value.length > 40 ||
      email.value === "" ||
      !emailPattern.test(email.value)
    ) {
      if (email.value.length > 40) {
        errorFeedback(
          email,
          "Email Can't Be More than 40 Characters",
          "Enter Email"
        );
      } else if (email.value === "") {
        errorFeedback(email, "Email Must Not Be Empty", "Enter Email");
      } else {
        errorFeedback(email, "Please Enter A Valid Email ", "Enter Email");
      }
      form_error = true;
    }

    if (password.value === "" || password.value.length > 30) {
      if (password.value.length > 30) {
        errorFeedback(
          password,
          "Password Cant't Be Over 30 Characters",
          "Your Password"
        );
      } else {
        errorFeedback(password, "Please Enter Your Password", "Your Password");
      }

      form_error = true;
    }

    if (!form_error) {
      form.submit();
    }
  });
</script>

{% endblock %} {% endblock %}
